@keyframes bar1 {
  0%, 100% { height: 20%; }
  50% { height: 100%; }
}

@keyframes bar2 {
  0%, 100% { height: 40%; }
  50% { height: 90%; }
}

@keyframes bar3 {
  0%, 100% { height: 30%; }
  50% { height: 80%; }
}

.animate-bar1 {
  animation: bar1 1s infinite ease-in-out;
}

.animate-bar2 {
  animation: bar2 1s infinite ease-in-out;
}

.animate-bar3 {
  animation: bar3 1s infinite ease-in-out;
}
